// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#main-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 0.8em;
}

#app-footer {
  position: absolute;
  bottom: 0;
  height: 4em;
  width: 100%;
  border-top: 1px solid lightgray;
  padding-top: 1em;
  background-color: #f8f9fa ;
 }

.unstyled-link {
  color: unset;
  &:hover {
    color: unset;
    text-decoration: none;
  }
}

/***********************************
Mixins
************************************/

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}


/************************************
Nav
************************************/
#app-nav {
  min-height: 4em;
  border-bottom: 1px solid lightgray;

  img {
    max-height: 2.2em;
  }
}

/************************************
Associate Home
************************************/
#associate-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

#a-home-dashboard {
  align-self: flex-end;
}

#a-home-form-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 1em;
  align-items: flex-end;
  flex-wrap: wrap;

  flex-direction: column;
    align-items: center;

  @include sm {
    max-width: 100%;
    flex-direction: row;
  }

  @include lg {
    max-width: 70%;
  }

  .form-group {
    margin: unset;
  }

  & > div {
    margin: 0.5em 0;
  }
}

.a-home-feedback-button {
  display: flex;
  flex-direction: column; 
  max-width: 6em;

  svg {
    font-size: 2em;
    cursor: pointer;
  }
}
